@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  font-family: "Montserrat", sans-serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #070707;
  width: 40rem;
  margin: -300px 0 0 -350px;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.form h2 {
  margin: 0 0 20px;
  line-height: 1;
  color: #44c4e7;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

.form label {
  color: #44c4e7;
  margin: 0 0 20px;
  line-height: 1;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
}

.form input {
  background-color: #070707;
  color: #23a6d5;
  outline: none;
  border-radius: 10px;
  display: block;
  width: 100%;
  margin: 10px 0 20px;
  padding: 10px 15px;
  border: 3px solid #ccc;
  color: #ccc;
  font-family: "Roboto";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.form input:focus {
  color: #333;
  border-radius: 30px;
  color: #23a6d5;
  border: 3px solid #44c4e7;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.form select {
  background-color: #070707;
  color: white;
  border-radius: 10px;
  outline: none;
  display: block;
  width: 100%;
  margin: 10px 0 20px;
  padding: 10px 15px;
  border: 3px solid #ccc;
  color: #ccc;
  font-family: "Roboto";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.form select:focus {
  color: #333;
  border-radius: 30px;
  border: 3px solid #44c4e7;
  color: #23a6d5;
}

.form button {
  margin-top: 20px;
  cursor: pointer;
  background: #44c4e7;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  border-radius: 10px;
  animation: pulse 2s infinite 3s cubic-bezier(0.25, 0, 0, 1);
  box-shadow: 0 0 0 0 #23a6d5;
}
.form button:hover {
  background: #369cb8;
  border-radius: 30px;
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 18px rgba(255, 255, 255, 0);
  }
}
